pipeline/pip_cd_sql_to_adls.json
{
	"name": "pip_cd_sql_to_adls",
	"properties": {
		"activities": [
			{
				"name": "LastModified",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select isnull(Last_Modified,'1900-01-01') Last_Modified from dbo.watermark where table_name = '@{pipeline().parameters.table_name_par}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"ds_name_table": {
								"value": "@pipeline().parameters.table_name_par",
								"type": "Expression"
							},
							"ds_schema_table": {
								"value": "@pipeline().parameters.schema_par",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "MaxDateModified",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(ModifiedDate) as ModifiedDate  FROM @{pipeline().parameters.schema_par}.@{pipeline().parameters.table_name_par}",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"ds_name_table": "Product",
							"ds_schema_table": "salesLT"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from @{pipeline().parameters.schema_par}.@{pipeline().parameters.table_name_par} where ModifiedDate >  and ModifiedDate <=\r\n\r\n\r\n\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"ds_name_table": "Product",
							"ds_schema_table": "salesLT"
						}
					}
				]
			},
			{
				"name": "Set ultimo valor lido",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Last_modified",
					"value": {
						"value": "@activity('LastModified').output.firstRow.Last_Modified",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set ultimo valor escrito",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MaxDateModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_valor_escrito",
					"value": {
						"value": "@activity('MaxDateModified').output.firstRow.ModifiedDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set ultimo valor lido",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set ultimo valor escrito",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"parameters": {
			"schema_par": {
				"type": "string"
			},
			"table_name_par": {
				"type": "string"
			},
			"container_par": {
				"type": "string"
			},
			"directory_par": {
				"type": "string"
			}
		},
		"variables": {
			"Last_modified": {
				"type": "String"
			},
			"max_valor_escrito": {
				"type": "String"
			}
		},
		"annotations": []
	}
}